{% verbatim %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AutoChess</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" type="application/javascript"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <style>
        .unit-holder {
            border: 1px solid gray;
            border-radius: 5px;
            margin-left: 3%;
            margin-right: 3%;
            margin-top: 50px !important;
            height: 100px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a style="margin-left: 30px;" class="navbar-brand" href="#">Welcome to Autochess!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center">
        <div class="row" style="height: 100px;"></div>
        <div class="row">
            <div class="col-12">
                <h1>
                    Hello Anonymous User!
                </h1>
            </div>
        </div>


        <div class="row" style="margin-top: 50px">
            <div class="col-12" style="padding-top: 6px;">
                <button class="btn btn-primary enableEthereumButton">Connect!</button>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div id="app" v-if="seen" class="col-12" style="padding-top: 6px;">
                Address: {{ address }}
                <br/>
                Ether Balance: {{ balance }}
                <br/>
                Tokens: {{ tokens_balance }}
            </div>
        </div>

        <div v-if="seen" id="units-auction">
            <div class="row" style="margin-top: 50px">
                <div class="col-12 text-center">
                    Auction!
                </div>
                <div class="unit-holder col-3" v-for="unit in units">

                    <div class="row">
                        <div class="col-12">
                            {{ unit.text }} - {{ unit.number }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary">✔</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-danger">×</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    var account_info_app = new Vue({
        el: '#app',
        data: {
            seen: false,
            address: 'Not connected',
            balance: 'not known',
            tokens_balance: 'not known',
        }
    });

    var auction_app = new Vue({
        el: '#units-auction',
        data: {
            seen: false,
            units: [
                {text: "Unit", number: 1},
                {text: "Unit", number: 2},
                {text: "Unit", number: 3},
                {text: "Unit", number: 4},
            ]
        }
    })


    const ethereumButton = document.querySelector('.enableEthereumButton');
    const showAccount = document.querySelector('.showAccount');

    var signer;
    var signer_address;
    var contract;
    var provider;

    var contract_abi = [{
        "constant": false,
        "inputs": [],
        "name": "buy",
        "outputs": [],
        "payable": true,
        "stateMutability": "payable",
        "type": "function"
    }, {
        "constant": false,
        "inputs": [{"name": "_receiver", "type": "address"}],
        "name": "giveme10000",
        "outputs": [{"name": "sufficient", "type": "bool"}],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "function"
    }, {
        "constant": false,
        "inputs": [{"name": "_amount", "type": "uint256"}],
        "name": "sell",
        "outputs": [],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "function"
    }, {
        "constant": false,
        "inputs": [{"name": "_receiver", "type": "address"}, {"name": "_amount", "type": "uint256"}],
        "name": "sendCoin",
        "outputs": [{"name": "sufficient", "type": "bool"}],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "function"
    }, {"inputs": [], "payable": false, "stateMutability": "nonpayable", "type": "constructor"}, {
        "anonymous": false,
        "inputs": [{"indexed": false, "name": "_from", "type": "address"}, {
            "indexed": false,
            "name": "_to",
            "type": "address"
        }, {"indexed": false, "name": "_value", "type": "uint256"}],
        "name": "Transfer",
        "type": "event"
    }, {
        "constant": true,
        "inputs": [{"name": "_addr", "type": "address"}],
        "name": "getBalance",
        "outputs": [{"name": "", "type": "uint256"}],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    }, {
        "constant": true,
        "inputs": [],
        "name": "name",
        "outputs": [{"name": "", "type": "string"}],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    }, {
        "constant": true,
        "inputs": [],
        "name": "symbol",
        "outputs": [{"name": "", "type": "string"}],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    }]
    let contract_address = "0x873Fe6E95c0fb4AAd38f0399d1885eAca5Ab409B";


    ethereumButton.addEventListener('click', () => {
        ethereum.request({method: 'eth_requestAccounts'}).then(function (account) {
            provider = new ethers.providers.Web3Provider(ethereum)
            signer = provider.getSigner()

            signer.getAddress().then(function (address) {
                signer_address = address

                account_info_app.address = signer_address;
                account_info_app.seen = true;
                getEtherBalance();


                setup_contract();
                get_token_balance();

                auction_app.seen = true;
            })
        })
    });

    async function getEtherBalance() {
        let balance = await provider.getBalance(signer_address);
        account_info_app.balance = ethers.utils.formatEther(balance)
    }

    function sendEther() {
        const tx = signer.sendTransaction({
            to: "0x8Ea3bFF9dEa493d819551a795d801EbeBB777257",
            value: ethers.utils.parseEther("1.0")
        }).then(console.log);
    }

    function setup_contract() {
        contract = new ethers.Contract(
            contract_address, contract_abi, provider
        ).connect(signer);

        //let tx = await HelloCoin.giveme10000(signer_address)
        //tx.wait().then(async () => {
        //    balance = await HelloCoin.getBalance(signer_address);
        //    console.log(ethers.utils.formatUnits(balance, 0));
        //})
    }

    async function get_token_balance() {
        let balance = await contract.getBalance(signer_address);
        account_info_app.tokens_balance = ethers.utils.formatUnits(balance, 0);
    }


</script>

</body>
</html>

{% endverbatim %}
