<header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button sidebar-toggler">
                menu
            </button>
            <span class="mdc-top-app-bar__title">Hello Anonymous User!</span>
        </div>
        <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right">
            <div class="menu-button-container d-none d-md-block">
                <button class="mdc-button mdc-menu-button">
                    <i class="mdi mdi-settings"></i>
                </button>
            </div>
        </div>
    </div>
</header>