{% verbatim %}
<header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button sidebar-toggler">
                menu
            </button>
            <span class="mdc-top-app-bar__title">Hello Anonymous User!</span>
        </div>
        <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right">
            <div id="select_for_fight" class="menu-button-container d-none d-md-block">
                <h5>
                    Selected squad: {{ selected_name }}
                </h5>
            </div>
        </div>
    </div>
</header>
{% endverbatim %}
