{% verbatim %}
<div v-if="seen" id="my_squads">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card">
                <div class="d-flex justify-content-between">
                    <h2 class="card-title mb-0">Undeployed Squads:</h2>
                    <div>
                        <div style="display: inline-block">
                            <select v-on:change="sort_undeployed_squads" class="form-select"
                                    v-model="undeployed_squads_sort_by">
                                <option>sort by ...</option>
                                <option>Total Attack</option>
                                <option>Unit Count</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4"
                             v-for="squad in undeployed_squads">
                            <div class="mdc-card" style="background-color:#e7d1ff;padding:10px;">

                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12 text-center">

                                            <div class="mdc-card">
                                                <h3>
                                                    {{ squad.name }}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-2"></div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-2">
                                            <i
                                                    class="fas fa-bahai"></i></div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-2">
                                            {{
                                            squad.totalAttack }}
                                        </div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-2">
                                            <i
                                                    class="fas fa-coins"></i></div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-2">
                                            {{
                                            squad.stashedTokens }}
                                        </div>
                                    </div>
                                </div>

                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <unit v-for="unit in squad.units"
                                              width="4" v-bind:unit="unit" v-bind:key="unit.unit_index"></unit>
                                    </div>
                                </div>

                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4">
                                            <button style="width:100%" v-on:click="dissolve_squad(squad.name)"
                                                    class="btn btn-warning">Dissolve Squad
                                            </button>
                                        </div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4">
                                            <button style="width:100%" v-on:click="select_for_fight(squad.name)"
                                                    class="btn btn-primary">Let's Fight!
                                            </button>
                                        </div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4">
                                            <button style="width:100%" v-on:click="random_challenge(squad.name)"
                                                    class="btn btn-primary">Random Challenge!
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card">
                <div class="d-flex justify-content-between">
                    <h2 class="card-title mb-0">Deployed Squads:</h2>
                    <div>
                        <div style="display: inline-block">
                            <select v-on:change="sort_deployed_squads" class="form-select"
                                    v-model="deployed_squads_sort_by">
                                <option>sort by ...</option>
                                <option>Total Attack</option>
                                <option>Unit Count</option>
                                <option>Stashed Tokens</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4"
                             v-for="squad in deployed_squads">
                            <div class="mdc-card" style="background-color:#e7d1ff;padding:10px;">

                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
                                            <i
                                                    class="fas fa-bahai"></i></div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
                                            {{
                                            squad.totalAttack }}
                                        </div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
                                            <i
                                                    class="fas fa-coins"></i></div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
                                            {{
                                            squad.stashedTokens }}
                                        </div>
                                    </div>
                                </div>

                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <unit v-for="unit in squad.units"
                                              width="4" v-bind:unit="unit" v-bind:key="unit.unit_index"></unit>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 text-center">
                                        <div class="mdc-card" style="padding:5px; background-color:gray">
                                            <h5>
                                                {{ squad.state }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card">
                <div class="d-flex justify-content-between">
                    <h2 class="card-title mb-0">Retired Squads:</h2>
                    <div>
                        <div style="display: inline-block">
                            <select v-on:change="sort_retired_squads" class="form-select"
                                    v-model="retired_squads_sort_by">
                                <option>sort by ...</option>
                                <option>Total Attack</option>
                                <option>Unit Count</option>
                                <option>Stashed Tokens</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4"
                             v-for="squad in retired_squads">
                            <div class="mdc-card" style="background-color:#e7d1ff;padding:10px;">

                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
                                            <i
                                                    class="fas fa-bahai"></i></div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
                                            {{
                                            squad.totalAttack }}
                                        </div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
                                            <i
                                                    class="fas fa-coins"></i></div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
                                            {{
                                            squad.stashedTokens }}
                                        </div>
                                    </div>
                                </div>

                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <unit v-for="unit in squad.units"
                                              width="4" v-bind:unit="unit" v-bind:key="unit.unit_index"></unit>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endverbatim %}