{% verbatim %}

<div v-if="seen" id="my_units">
    <div class="row" style="margin-top: 10px">
        <div class="col-3">
            My Units:
        </div>
    </div>
    <div class="row">

        <div style="margin-left: 20px" class="box col-2" v-for="unit in units">
            <div class="row">
                <div class="col-8">
                    {{ unit.name }}
                </div>
                <div class="col-4">
                    <input type="checkbox" v-model="unit.checked"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img class="unit-type-img" v-bind:src="'/static/Core/images/' + unit.image + '?v=1'"/>
                </div>
            </div>
            <div class="row">
                <progress id="file" v-bind:value="unit.curHealth" v-bind:max="unit.maxHealth"></progress>
            </div>
            <div class="row">
                <div class="col-3"><i class="fas fa-bahai"></i></div>
                <div class="col-3">{{ unit.attack }}</div>
            </div>
            <div class="row">
                <div class="col-3"><i class="fas fa-shield-alt"></i></div>
                <div class="col-3">{{ unit.defence }}</div>
            </div>
        </div>

        <div style="margin-left: 20px" class="box col-3">
            <div class="row" style="margin-top:10px">
                <div class="col-12">
                    <button class="btn btn-warning" v-on:click="auction_selected()">Auction Selected</button>
                </div>
            </div>
            <!-- div class="row" style="margin-top:10px">
                <div class="col-12">
                    <button class="btn btn-warning" v-on:click="squad_selected()">Make Squad</button>
                </div>
            </div !-->

            <div class="row" style="margin-top:10px">
                <div class="col-12">
                    <input type="text" class="form-control" v-model="purchase_name" placeholder="name">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-12">
                    <select class="form-select" v-model="selected">
                        <option v-for="option in options" v-bind:value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-12">
                    <button class="btn btn-warning" v-on:click="buy_unit()">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endverbatim %}
