{% verbatim %}

<div v-if="seen" id="my_units" class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
        <div class="mdc-card">
            <div class="d-flex justify-content-between">
                <h2 class="card-title mb-0">My Units</h2>
                <div>
                    <div style="display: inline-block">
                        <button class="btn btn-warning" v-on:click="auction_selected()">Auction Selected</button>
                        <button class="btn btn-warning" v-on:click="squad_selected()">Squad Selected</button>
                    </div>
                    <div style="display: inline-block">
                        <select v-on:change="sort_units" class="form-select" v-model="sort_by">
                            <option>sort by ...</option>
                            <option>type</option>
                            <option>name</option>
                            <option>attack</option>
                            <option>defence</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <unit v-for="unit in units"
                          width="2" v-bind:unit="unit" show_checkbox></unit>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}